APP_ENV=dev
APP_DEBUG=true
TRACES_ENABLED=false
MYSQL_HOST: database
MYSQL_PORT: 3306
MYSQL_DATABASE: app
MYSQL_USER: user
MYSQL_PASSWORD: password
MYSQL_ROOT_PASSWORD: rootpassword
PUBSUB_PROJECT_ID=test-project
PUBSUB_EMULATOR_HOST: pubsub:8085
